*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
background-color: #F2F5F8;

}
.container1{
   padding-left: 25px;
   padding-right: 25px;
   margin-left: auto;
   margin-right: auto;
}

.nav1{
border-bottom: 1px solid #F1F2F6;
background-color: white;
width: 100%;
}
#nav-2{
float: right;
}

.buton-1{
font-size: 12px;
padding-inline-start: 10px;
}
.dropdown{
width: 348px;  
height: 335;
}

.dropdown a{
margin-left: 2px;
color: #758BFD;
background-color: white;
border: none;
outline: none;
text-align: left;
width: 100%;
height: 100%;
box-shadow: none !important;
}
.btn{
border-radius: 0%;
-webkit-border-radius: 0%;
-moz-border-radius: 0%;
-ms-border-radius: 0%;
-o-border-radius: 0%;
}
.btn-secondary:hover{
background-color: black;  
}

.dropdown-menu li a{
width: 345px;  
background-color: black;   
}
.dropdown-menu li {
border-bottom: 1px solid #95989A;
} 
.dropdown-menu{ 
background-color: black;
border-radius: 0% ;
-webkit-border-radius: 0% ;
-moz-border-radius: 0% ;
-ms-border-radius: 0% ;
-o-border-radius: 0% ;
}
.lang{
color: white;
font-size: 14px;
font-family: 'Source Sans Pro', sans-serif;
text-transform: uppercase;
padding-left: 10px;  
}
.dropdown-menu p{
font-size: 10px;
font-family: 'Source Sans Pro', sans-serif;  
color: #909090;
text-transform: uppercase;
padding-left: 35px; 
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
   width: 100%;
   height: auto;
   background-color: white;
}
header .container1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
 
}
.logo {
   text-decoration: none;
}
.logo p{
   font-size: 31px;
   font-weight: bold;
   font-family: 'Ubuntu', sans-serif;
   color: #27187F;
   
}
.logo p span{ 
   color: #758BFD;
}
header nav{
flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;
}
header nav ul {
   display: flex;
   list-style: none;
   margin-right: 10px;
}
header nav ul li a {
   padding: 25px 10px;
   display: block;
   color:#8172D5;
   text-decoration: none;
   font-size: 14px;
   transition: 0.3s;
   position: relative;
   margin-right: 50px;
}
header nav ul li a i{
   padding: 5px;
}
header nav .toggle-menu {
   font-size: 25px;
   padding-bottom: 10px;
}
@media (min-width: 768px) {
   header nav .toggle-menu {
      display: none;
   }
}
@media (max-width: 768px) {
   header nav ul{
      display: none;
   }

header nav .toggle-menu{
margin-right: 20px;
}
header nav .toggle-menu:hover + ul{
display: flex;
flex-direction: column;
position: absolute;
top: 100%;
background-color:#F7FDFD;
}

}

form {
width: 220px !important;
   padding-bottom: 30px;
   position: relative;
   
} 
form .form-control{
border-radius: 0;
-webkit-border-radius: 0;
   -moz-border-radius: 0;
-ms-border-radius: 0;
   -o-border-radius: 0;
}
form .search1{
   width: 38px !important;
   height: 37.5px !important;
}
header nav ul li:hover{
background-color: #F7FDFD;
}
.sup{
display: none;
color: #8172D5;
}
.sup ul{
align-items: center;
justify-content: space-around;
}
.sup ul li a {
padding-left: 40px;
}
.sup ul li a span{
font-size: 24px;
}
header nav ul li:hover .sup{
   display: block;
   position: absolute;
   background-color:#F7FDFD ;
   margin-left: -1px;
   width: 100%;
   left: 0;
}
.column ul{
   display: flex;
   flex-direction: column;
   padding-bottom: 30px;
   align-items: flex-start;

}
.column ul li a {
   color: #133B3A;
   padding: 10px;
}
/*****************************************************************************************************************************************/
.main{
width: 100%;
height: 490px; 
margin-top: 50px;
padding-left: 30px;
/*margin-left: 35px; .......ps.........*/
}

.fea-1{
background-color: white;
/*width: 790px;*/
height: 490px;
/*margin-left: 35px;*/

}
.fea-1 img{
   padding: 15px;
}
.fea-1 p{
   font-size: 24px;
   padding: 15px;
   color: #133B3A;

}
.fea-1 p span{
/*visibility: hidden;*/
display: none;
}
.fea-1 .feature-p{
   color: #69A3A2;
   font-size: 12px;
}
.last{
   justify-content: space-between;
   padding: 0 20px;
}
.sec{
   cursor: pointer;
}
.sec i{
   padding-left: 20px;
}

.fea-2{
   background-color: white;
   height: 490px;
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 50px;
   margin-left: -22px;
}
.Quick-Links{
   padding-left: 40px;
   margin: 0 0.5rem;
   animation: fadeInRight;
   -webkit-animation: fadeInRight;
   animation-duration: 2s;
}
.Featured{
   animation: fadeInLeft;
   -webkit-animation: fadeInLeft;
   animation-duration: 2s;
}

.fea-2 .Quick{
   justify-content: space-around;
}
.Quick .q1{
   width: 32.02px;
   height: 35.39;
   cursor: pointer;
}
.q1 p{font-size: 12px;
   padding-top: 10px;
}
/************************************************************************************************************************************************/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0; background-color: #133B3A !important;}
.w3-left ,.w3-right{
   float:right;
   padding: 20px;
   justify-content: right;
   margin-top: -20px;
}
.w3-badge{
   display:inline-flex;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   background-color: white !important ;
   border:1px solid blue;
   margin:10px 5px;
   margin-right: 10px;
}

/******************************************************************************************************************************************/
.Company-News{
   padding-top: 9%;
   width:100% ;
   padding-left: 5px;

}
.con-p{
   margin-left: 15px;
}
.com{
   background-color: white;
   width: 285px;
   height: 368px;
   margin:10px 20px;
   margin-bottom: 20px;
   animation: zoomIn;
   -webkit-animation: zoomIn;
   animation-duration: 2s;
   animation-delay: 3s;
}
.com img{
   padding-top: 17px;
   padding-left: 18px;
}
.p1{
   padding-top: 20px;
font-size: 20px;
display: flex;
justify-items:left;
flex-wrap: wrap;
width: 250px;
padding-left: 10px;
}
.p2{
   padding-top: 20px;
   font-size: 12px;
   width: 250px;  
   color: #69A3A2; 
   padding-left: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.how-do-i{
margin-top: 8%;
/*margin-left: 20px;..............ps*/
width: 100%;
}
.how-do{
   width: 100%;
   height: 82px;
   background-color: white;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 25px 20px;
   margin-bottom: 20px;
   animation: backInUp 3s 4s;
   -webkit-animation: backInUp 3s 5s;
}
.how-p{
   padding-left: 18px;
}
.how a ,.how1 a{ 
   text-decoration: none;
   color: #8172D5;
   font-size: 18;
}
/****----------------------------------------------------------------------------------------------------------------------------------******/
.event{
   background-color: white;
   width: 100%;
   height: 361px;
   margin-top: 9%;
}

.see{
   padding: 30px 80px;
   background-color: white;
}
.see1{
   padding-top: 50px;
}
.see a{
   float: right;
   color: #8172D5;
   font-size: 12px;
   text-transform: uppercase;
}
.see .see1{
   color: #FFB140;
   font-size: 12px;
   font-weight: bold;
}
.see2{
   font-size: 25px;
   font-family: 'Roboto', sans-serif;
}
.see2 span{ color:#174b4a;
   font-size: 15px;
}
.see button{
background-color: #758BFD;
border: none;
color: white;
font-size: 10px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
width: 107px;
height: 35px;

}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.manger{
margin-top: 9%;
width: 100%;
}
.mange11{
   font-size: 18px;
}
.mange12{
   font-size: 14px; 
}
.mange13{
   font-size: 18px;
   color: #8172D5;
   padding-top: 20px;
}
.d-flex{
   padding-top: 20px;
}
.d-flex button{
   border: none;
   width: 120px;
   height: 35px;
   background-color: #758BFD;
   color: white;
   font-size: 10px;
   font-weight: bold;
   padding: auto 20px;
}
.mange2 .mange12 {
   line-height: 3px;
}
/*****************/
.footer{
   margin-top: 9%;
   background-color: #F7FDFD;
   height:auto;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-items: center;
   padding-top: 30px;
   padding-left: 50px;
   
}
.footer .footer-p
{
   font-size: 24px;
   color: #27187F;
} 
.footer-p p span{
   color: #758BFD;
}
.footer button{
   width: 140px;
   height: 35px;
   background-color: #758BFD;
   border: none;
   color: white;
   font-size: 10px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 40px;
   margin-bottom: 20px;
}
.footer1{
   background-color: #758BFD;
   height: auto;
   width: 100%;
 
}
.f-content{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 20px;
}
.f-a a{
   text-decoration: none;
   color: white;
   font-size: 14px;
   font-weight: bold;
   font-family: 'Ubuntu', sans-serif;

}
.footer1-content{
   display: flex;
   flex-direction: row;
}
.f-a1 a{
   text-decoration: none;
   color: white;
   font-size: 14px;
   padding-left: 50px;

}









